/* .img-head {
    background-image: url(https://www.smarttoinvest.com/PublishingImages/Pages/Know%20Investment/Money%20Calculation%20Tool/Three.png);
    background-size: cover;
    background-position: center; 
    background-attachment: fixed; 
    width: 100%; 
    height: 1000px;
  }
   */

  .rounded_css{
    border-radius: 25px;
  }
