@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}



@theme {
  --color-primary: #00c951;
}

@layer utilities {
  .nav {
    @apply  hover:text-primary transition-colors duration-300 flex items-center gap-1 tracking-[1px] 
  }
  .nav::after{
    @apply content-[''] bg-primary h-[3px] w-[0%] left-0 -bottom-[5px] rounded-xl absolute duration-300
  }
  .nav:hover::after{
    @apply w-[100%]
  }
}
